# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
myenv

# Distribution / packaging
*.egg-info/
dist/
build/

# Django files
db.sqlite3
media/
staticfiles/
django.db.backends.postgresql.session.sql

# Logs
*.log

# IDE settings
.idea/
.vscode/
