{% extends 'base.html' %}

{% block title %}
    Create Product
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}    

<div class="container mt-5">
    <h2 class="mb-4 text-center">Create Product</h2>

    <form method="post" class="border p-4 shadow-sm rounded">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            {{ form|crispy }}
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">Create Product</button>
    </form>
</div>

<br>

{% endblock %}
