{% extends 'base.html' %}

{% load crispy_forms_tags %}  {# Load the crispy form tag #}

{% block title %}
Shop
{% endblock %}

{% block content %}

<div class="container  d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="p-4 bg-white rounded shadow" style="max-width: 400px; width: 100%; border: 1px solid #ccc;">
        <h2 class="text-center mb-4">Login</h2>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}  
            <button type="submit" class="btn btn-primary mt-3 w-100">Login</button>
        </form>
    </div>
</div>




{% endblock %}
