{% extends 'base.html' %}

{% block title %}
    My Profile
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-5 p-4 bg-light rounded shadow position-relative">
    <h2>My Profile</h2>

    <!-- Profile Image Positioned at the Top-Right -->
    {% if profile.profile_image %}
        <img 
            src="{{ profile.profile_image.url }}" 
            alt="Profile Image" 
            class="rounded-circle position-absolute" 
            style="top: 50px; right: 50px; width: 160px; height: 160px; object-fit: cover;">
    {% endif %}

    <div class="mt-5">
        <p><strong>Street Address:</strong> {{ profile.street_address }}</p>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p><strong>State/Province:</strong> {{ profile.state }}</p>
        <p><strong>Postal Code:</strong> {{ profile.postal_code }}</p>
        <p><strong>Country:</strong> {{ profile.get_country_display }}</p>
        <p><strong>Date of Birth: </strong> {{ profile.date_of_birth }}</p>
    </div>

    <a href="{% url 'edit_profile' pk=user.pk %}" class="btn btn-outline-primary mt-3">Edit Profile</a>
</div>

<br>


{% endblock %}



