{% extends 'base.html' %}

{% block title %}
    My Profile
{% endblock %}
{% load static %}

{% block content %}

<div class="card glass w-1/2 mx-auto">
    <figure>
      <img
        src="{{ user.profile.profile_image.url }}"
        alt="car!" />
    </figure>
    <div class="card-body">
      <h2 class="card-title"> Welcome {{ user.username }}</h2>
        <p>email : {{ user.email }}</p>
        <p>Name : {{ user.profile.full_name }}</p>
        <p>Phone : {{ user.profile.phone_number }}</p>
        <p>Address : {{ user.profile.address_line_1 }}</p>
       <p>City : {{ user.profile.city }}</p>
       <p>State : {{ user.profile.state }}</p>
       <p>Zip Code : {{ user.profile.zip_code }}</p>
       <div class="card-actions justify-end">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
  </div>

<br>


{% endblock %}



