{% extends 'base.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container mx-auto">
    <h1 class="mb-4 text-center text-2xl font-bold">Your Shopping Cart</h1>

    {% if cart.cartitem_set.count %}
    <div class="flex flex-wrap">
        <div class="w-full md:w-9/12">
            <table class="w-full">
                <thead class="bg-gray-200 text-gray-600">
                    <tr>
                        <th class="w-1/4">Product</th>
                        <th class="w-1/6 py-2">Quantity</th>
                        <th class="w-1/6 py-2">Price</th>
                        <th class="w-1/6 py-2">Total</th>
                        <th class="w-1/6 py-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.cartitem_set.all %}
                    <tr
                        class="border-b border-gray-200 text-gray-600 align-middle py-2"
                        data-item-id="{{ item.id }}">
                        <td class="w-1/4">{{ item.product.name }}</td>
                        <td class="w-1/6 py-2 px-4 flex items-center">
                            <!-- Increase quantity -->
                            <button
                                class="bg-green-500 rounded px-2 py-1 text-white"
                                hx-post="{% url 'update_cart_quantity' item.id 'increase' %}"
                                hx-target="#cartitem-{{ item.id }} .item-quantity"
                                hx-swap="innerHTML">
                                +
                            </button>

                            <span class="mx-3 item-quantity"
                                id="cartitem-{{ item.id }}-quantity">
                                {{ item.quantity }}
                            </span>

                            <button
                                class="bg-red-500 rounded px-2 py-1 text-white"
                                hx-post="{% url 'update_cart_quantity' item.id 'decrease' %}"
                                hx-target="#cartitem-{{ item.id }} .item-quantity"
                                hx-swap="innerHTML">
                                -
                            </button>
                        </td>
                        <td class="w-1/6 py-2 px-4">{{item.product.get_discounted_price }}</td>
                        <td class="w-1/6 py-2 px-4">
                            <span class="item-total">{{ item.get_total_price }}</span>
                        </td>
                        <td class="w-1/6 py-2 px-4">
                            <form method="POST"
                                action="{% url 'remove_from_cart' item.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                    class="bg-red-600 rounded px-2 py-1 text-white">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="border-t">
                        <td colspan="2"></td>
                        <td class="w-1/6 py-2 px-4 font-bold">Subtotal:</td>
                        <td class="w-1/6 py-2 px-4 font-bold">
                            <span id="cart-subtotal">{{ cart.get_total_price }}</span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-full md:w-2/12 mt-4 md:mt-0 md:ml-4">
            <a
                class="bg-blue-500 text-white px-4 py-2 rounded block text-center"
                href="{% url 'checkout' %}">Proceed to Checkout</a>
        </div>
    </div>

    {% else %}
    <div class="text-center">
        <p class="text-gray-500">Your cart is currently empty.</p>
        <br>
        <a href="{% url 'shop' %}" class="bg-gray-500 text-white px-4 py-2 rounded">Continue Shopping</a>
    </div>
    {% endif %}
</div>
{% else %}
<div class="text-center">
    <p class="text-gray-500">Please login to view your cart.</p>
    <a href="{% url 'login' %}"
        class="bg-gray-500 text-white px-4 py-2 rounded">Login</a>
</div>
{% endif %}

{% endblock %}


<script>
    document.addEventListener('htmx:afterRequest', function(evt) {
        if (evt.detail.verb === 'post') {
            const itemQuantity = evt.detail.target;
            const newQuantity = evt.detail.xhr.responseText;
            itemQuantity.innerText = newQuantity;
        }
    });
</script>