{% extends 'base.html' %}


{% block title %}

Home
    
{% endblock  %}
    


{% block content %}
    

    <!-- HERO SECTION -->
    <section id=" hero" class="text-center py-5 bg-primary text-white">
        <div class="container">
            <h1 class="display-3 font-weight-bold">Super Value Deals</h1>
            <p class="lead mt-3">Save more with coupons & up to 70% off!</p>
            <button class="btn btn-primary btn-lg mt-4">Shop Now</button>
        </div>
    </section>

    <!-- PRODUCT SECTION -->
    <section id="products" class="py-5 container" x-data="{ open: true }">
        <h2 class="mb-4">Featured Products</h2>
        <div id="product-list" 
            hx-get="/products/"
            hx-trigger="load"
            hx-target="#product-list"
            hx-swap="innerHTML"
            class="row mt-4">
        </div>
    </section>



{% endblock  %}