{% extends 'base.html' %}


{% block title %}

Shop
    
{% endblock  %}
    


{% block content %}


    <!-- PAGE HEADER -->
    <section id="page-header" class="text-center py-5 bg-light">
        <div class="container">
            <h2>Shop Our Products</h2>
            <p>Find the best deals on our products!</p>
        </div>
    </section>

    <!-- PRODUCT SECTION -->
    <section id="products" class="section-p1 py-5">
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-6 my-2">
                    <div class="card product-card">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <span>{{ product.brand }}</span>
                            <h5>{{ product.name }}</h5>
                            <div class="star mb-2">
                                {% for _ in "12345" %}
                                <i class="fas fa-star text-warning"></i>
                                {% endfor %}
                            </div>
                            <h4>${{ product.price }}</h4>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary mt-2">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}