{% extends 'base.html' %}
{% load static %}

{% block title %}

Shop
    
{% endblock  %}
    


{% block content %}


    <!-- PAGE HEADER -->
    <section id="page-header" class="text-center py-5 bg-light">
        <div class="container">
            <h2>Shop Our Products</h2>
            <p>Find the best deals on our products!</p>
        </div>
    </section>

    <!-- PRODUCT SECTION -->
    <section id="products" class="py-5">
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-6 my-2">
                    <div class="card product-card">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">  
                        {% else %}
                            <img src="{% static 'img/default-product.png' %}" alt="Default Product Image" style="width: 200px; height: 200px;">
                        {% endif %}
                        <div class="card-body">
                            <h5>{{ product.name }}</h5>
                            <p>{{ product.description }}</p>
                            <p><s> ${{ product.price }}</s></p>
                            <p> ${{ product.get_discounted_price }}</p>
                        </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}